<div class="container">
    <h1>Document</h1>
    <div class="row">

        <div class="col-md-3">

            <form name="myForm">
                <fieldset>

                    <input type="file" ngf-select ng-model="document.picFile" name="file" >

                    <button ng-click="document.picFile = null" ng-show="document.picFile">Remove</button>

                    <button ng-click="document.uploadPic(document.picFile)">Submit</button>
                    <span class="progress" ng-show="document.picFile.progress >= 0">
                        <div style="width:{{document.picFile.progress}}%" ng-bind="document.picFile.progress + '%'"></div>
                    </span>
                    <span ng-show="document.picFile.result">Upload Successful</span>

                </fieldset>
                <br>
            </form>



        </div>

    </div>
</div>