<div class="fandomsForm">
   <h1 class="fandomsForm__title">Choose top {{registration.numberOfFandoms}} fandoms</h1>
    <div class="fandomsForm__content">
        dsfsdfsdfdsfsdfadsfasdfa
        dsfasdfasdfads
        fasd
        fasdfadsfadsfadsfadsf
        adsfasdfasdfadsfadsfadsfasdfasdfadsfa asdf asf asdfasdfasdfadsfa
        sdfasdfasdfasdfasdfasdfadsfasd
        fasdfasdfasdfasdfadsf
        asdfasdfasdf
    </div>
   <input type="submit" class="fandomsForm__btn btn btn-default" value="next..."/>
</div>