<div class="fandomsForm">
   <h1 ng-hide="Fandoms.numberOfFandoms<=0" class="fandomsForm__title">Choose top {{Fandoms.numberOfFandoms}} fandoms</h1>
    <h1 ng-show="Fandoms.numberOfFandoms<=0" class="fandomsForm__title">It is done</h1>
    <div  class="fandomsForm__content"  ng-class="{'end': Fandoms.showNotification}" when-scrolled="Fandoms.more()" >
        <a href="#">
            <div href="#" class="item" ng-click="Fandoms.subscribeFandom(item)" ng-repeat="item in Fandoms.items">
                <div class="fandomsForm__content__title">
                    {{item.name}}
                </div>

                <div
                        ng-show=" item.subscribed"
                        ng-class="{'checked': item.subscribed}">
                    <i class="glyphicon glyphicon-ok"></i>
                </div>

            </div>
        </a>

    </div>
   <input type="submit"ng-disabled="Fandoms.numberOfFandoms> 0" class="fandomsForm__btn btn btn-default" value="next..."/>
</div>