<form role="form">			

	<div class="form-group">
		<label for="email"> Email:</label>
		<input type="text" class="form-control" ng-model="user.email"  placeholder="Enter Email">
	</div>
	<div class="form-group">
		<label for="password"> Password:</label>
		<input type="text" class="form-control" ng-model="user.password"  placeholder="Enter password">
	</div>
	<br>
	<div class="form-group">
		<input type="submit" value="Login to..." ng-click="login.loginUser(user)" class="btn btn-default"/>
		<input type="button" class="btn btn-default" ng-click="login.clearCredential(user)" value="cancel" />
	</div>
</form>



